h1 {
  font-family: 'Prompt', sans-serif;
  font-size:90px;
  color:#15304a;

}
p {
  font-family: 'Special Elite', cursive;font-size:40px;color:black;
}
.paragraph {
background-color:#222d3b;font-family: 'Prompt', sans-serif;color:#cfe4ff
}
.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blue-big {
  color:#15304a;font-family: 'Special Elite', cursive;font-size:80px;
}

#center-text {
  text-align: center;
}

a:hover {
  color:#0087db;
}
a:active {
  color:#FE5F55;
}
a {
  color:#0A0908;font-size:50px;
}
body {
  background-color:#cfe4ff;
}

#bigtom {
  float:right;
   height:400px;
    width:300px;
}

#tinytom {
  align:left;
  height:400px;
  width:300px;
}

span.a {
  display:inline;
  padding-right:820px;
  color:#0A0908;
  font-size:35px;
}

span.b {
  display:inline;
  padding-right:690px;
  color:#0A0908;
  font-size:35px
}
 span.c {
   display:inline;
   color:#0A0908;
   font-size:35px
 }
 span {
   font-family: 'Special Elite', cursive;
 }

div.paragraph {
  width:500px;
  padding:50px;
  margin-left:625px;
  margin-bottom:50px;

  text-align: center;
}

div.first {
padding-right:300px;
display:inline;
}

@keyframes first{
  from{
    height:350px;
    width:462px;
  }
  to{
    height:437.5px;
    width:577.5px;
  }
}

.first-image:hover {
  animation: first 1.5s forwards;
}
img.second-image{
  height:440px;
  width:348px;
}
@keyframes second{
  from{
height:440px;
width:348px;
  }
  to{
height:550px;
width:435px;
  }
}

.second-image:hover {
animation: second 1.5s forwards;
}
div.second {
  padding-right:300px;
  display: inline;
}
img.third-image {
  height:440px;
  width:348px;
}
@keyframes third{
  from{
    height:440px;
    width:348px;
  }
  to{
    height:550px;
    width:435px;
  }
}

.third-image:hover {
animation: third 1.5s forwards;
}
